---
# -*- html -*- mode
layout: default
sidebar: true
---


<div class="content">
  <h2>{{page.title}}</h2>
{% if page.subtitle %}
	<h5>{{ page.subtitle }}</h5>
{% endif %}
  <small class="meta">
    <span class="grey">Posted 
    <abbr class="timeago" title="{{ page.date | date:"%Y-%m-%d" }}T00:00:00Z"></abbr>
    </span>&nbsp;on {{ page.date | date:"%A, %B %d - %Y" }} ({{ page.content | number_of_words }} words)
  </small>
  <hr /><br />
  
  {% capture dcurr %}{{ 'now' | date: "%Y%m%d" }}{% endcapture %}
  {% capture dpost %}{{ page.date | date: "%Y%m%d" }}{% endcapture %}
  {% capture ddiff %}{{ dcurr | minus:dpost | minus:18600 }}{% endcapture %}
  {% if ddiff contains '-' %}{% else %}
	<p class="intro">This is a very old post. The technical details may have changed by now. Please keep that in mind while reading.</p>
  {% endif %}
  
  <div class="sweet-justice space_bottom">
 	 {{ content }}
  </div>
  <small class="meta">Feel free to <span class="grey">copy</span>, <span class="grey">share</span> and <span class="grey">comment</span>.<br /><br /></small>
  
 <div id="fb-root"></div>
 <div id="twitter-root">Tweet</div>
 
 <script type="text/javascript" src="http://tweet-it.s3.amazonaws.com/tweet-it.js"></script>
 <script type="text/javascript">
 	$(document).ready(function(){
 		$("#twitter-root").tweetIt();
 	})
 </script>
 <script language="javascript"  type="text/javascript" src="/js/facebook.js"></script>

 <script type="text/javascript">
	 var idcomments_acct = 'a82f3fba842da37042bd1be376926290';
	 var idcomments_post_id;
	 var idcomments_post_url;
 </script>
 <span id="IDCommentsPostTitle" style="display:none"></span>
 <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</div>