---
# -*- html -*- mode
layout: default
sidebar: true
---


<div class="content">
  <h2>{{page.title}}</h2>
  <small class="meta">
    <span class="grey">Posted 
    <abbr class="timeago" title="{{ page.date | date:"%Y-%m-%d" }}T00:00:00Z"></abbr>
    </span> on {{ page.date | date:"%A, %B %d - %Y" }} ({{ page.content | number_of_words }} words)
  </small>
  <hr /><br />
  {% capture dcurr %}{{ 'now' | date: "%Y%m%d" }}{% endcapture %}
  {% capture dpost %}{{ page.date | date: "%Y%m%d" }}{% endcapture %}
  {% capture ddiff %}{{ dcurr | minus:dpost | minus:10600 }}{% endcapture %}
  
  {{ '20000'| minus:'10600' }}
  
  {% if ddiff contains '-' %}{% else %}
	<p class="intro warning">This is a very old post. Some technical details may have changed by now. Please keep that in mind while reading.</p>
  {% endif %}
  
  <div class="sweet-justice space_bottom">
 	 {{ content }}
  </div>
  <small class="meta">
  If you enjoyed this, please spread the word.<br /><br />
 <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="matthiasendler">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
 C:{{ dcurr }}<br />
 P:{{ dpost }}<br />
 D:{{ ddiff }}<br />
 <div id="fb-root"></div>
 <fb:like href="http://www.matthias-endler.de/" layout="standard" show_faces="false" width="400" action="like" colorscheme="light" />
 
 </small>
 <hr />
 <script>
 var idcomments_acct = 'a82f3fba842da37042bd1be376926290';
 var idcomments_post_id;
 var idcomments_post_url;
 </script>
 <span id="IDCommentsPostTitle" style="display:none"></span>
 <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</div>

<script>
	window.fbAsyncInit = function() {
	FB.init({appId: '127569457295491', status: true, cookie: true, xfbml: true});
	};
	(function() {
	var e = document.createElement('script');
	e.type = 'text/javascript';
	e.src = document.location.protocol + '//connect.facebook.net/de_DE/all.js';
	e.async = true;
	document.getElementById('fb-root').appendChild(e);
	}());
</script>